html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
}

:root {
  --primary: #3b82f6;
  --secondary: #8b5cf6;
  --background: #f8fafc;
  --card-bg: rgba(255, 255, 255, 0.9);
  --text: #1e293b;
  --border: rgba(0, 0, 0, 0.1);

  color: var(--text);
}

body {
  background:
    radial-gradient(circle at 10% 20%, rgba(59, 130, 246, 0.12) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, rgba(139, 92, 246, 0.12) 0%, transparent 20%),
    var(--background);
}
